<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Material To Warehouse</title>
    <link rel="stylesheet" href={% static "employee/base_employee.css" %}>
</head>
<body>

<div class = "head_buttons" >

    <a href="http://127.0.0.1:8081/warehouseman/getReport">
         <button class="link_for_task"style="vertical-align:middle"><span>گزارش انبار</span></button>
    </a>
    <a href="http://127.0.0.1:8081/warehouseman/addMaterial">
        <button  id = "selected" class="link_for_task"style="vertical-align:middle"><span> افزودن موجودی </span></button>
    </a>
</div>


<div class="guide">
    انباردار محترم،
    <br>

        برای افزودن موجودی انبار مورد نظر خود را انتخاب کنید.


</div>

{% load staticfiles %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<div class="my_form">
    <form action="/warehouseman/addMaterial" method="POST">
    {% csrf_token %}
    {% form form=form %}

    {% endform %}
    <button type="submit" name="_submit" class="btn">افزودن موجودی</button>
</form>

</div>



</body>
</html>