<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Authentication</title>
</head>
<body>

<form action="/employee/authentication/check" method="post">
    {% csrf_token %}

    {{ form }}
    <input type="submit" value="Submit" />
</form>

<h4>
    {% if order == null %} no result! <br> {% else %} order information: <br>{% endif %}{{ result.trackID }}

</h4>

<div>
    <table>
        <tr>
            <th> Track ID : </th>
            <th> {{ order.trackID }}</th>
        </tr>
        <tr>
            <th> Name : </th>
            <th> {{ order.user.name }}</th>
        </tr>
        <tr>
            <th> Telephone : </th>
            <th> {{ order.user.phone }}</th>
        </tr>
        <tr>
            <th> Address : </th>
            <th> {{ order.user.address }}</th>
        </tr>
        <tr>
            <th> Date : </th>
            <th> {{ order.date }}</th>
        </tr>
        <tr>
            <th> Time :</th>
            <th> {{ order.time }}</th>
        </tr>
    </table>
</div>

</body>
</html>