<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Cook Duty List</title>
     <link rel="stylesheet" href={% static "employee/base_employee.css" %}>
</head>


<body>

<div class = "head_buttons" >

    <a href="http://127.0.0.1:8081/cook/dutyList">
         <button class="link_for_task"style="vertical-align:middle"><span>لیست وظایف</span></button>
    </a>
    <a href="http://127.0.0.1:8081/cook/setRecipe">
        <button class="link_for_task"style="vertical-align:middle"><span> دستور پخت </span></button>
    </a>
    <a href="http://127.0.0.1:8081/cook/addAbility">
        <button class="link_for_task"style="vertical-align:middle"><span>افزودن توانایی </span></button>
    </a>
    <a href="http://127.0.0.1:8081/cook/setOffer">
         <button class="link_for_task"style="vertical-align:middle"><span>پیشنهادها </span></button>
    </a>
</div>


<div class="my_form" id="rtol">
    آشپز محترم،

    خوش آمدید.
</div>

</body>
</html>