<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Authentication</title>
    <link rel="stylesheet" href={% static "employee/base_employee.css" %}>
</head>
<body>


<div class = "head_buttons" >

    <a href="http://127.0.0.1:8081/deliveryman/dutyList" >
         <button   class="link_for_task" style="vertical-align:middle"> <span>لیست وظایف  </span></button>
    </a>
    <a href="http://127.0.0.1:8081/deliveryman/authentication">
        <button  class="link_for_task"style="vertical-align:middle"><span> پیگیری سفارش </span></button>
    </a>

</div>

<div class="my_form" id="rtol">
    مسوول پیک محترم ، خوش آمدید.
</div>
</body>
</html>