<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Cook Duty List</title>
     <link rel="stylesheet" href={% static "employee/base_employee.css" %}>
</head>


<body>

<div class = "head_buttons" >

    <a href="http://127.0.0.1:8081/deliveryman/dutyList" >
         <button  id = "selected"  class="link_for_task" style="vertical-align:middle"> <span>لیست وظایف  </span></button>
    </a>
    <a href="http://127.0.0.1:8081/deliveryman/authentication">
        <button  class="link_for_task"style="vertical-align:middle"><span> پیگیری سفارش </span></button>
    </a>

</div>


<div class="form_title">

</div>

<div class="guide">
    آشپز محترم،
    <br>
    شما می‌توانید لیست وظایف خود را در زیر مشاهده فرمایید. لطفا وظایف اتمام شده را تایید کنید.
</div>

{% load staticfiles %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}


{% load material_form %}
<div class="my_form">
    <form action="/deliveryman/dutyList" method="POST">
    {% csrf_token %}
    {% form form=form %} {% endform %}
    <button type="submit" name="_submit" class="btn">تایید اتمام وظیفه</button>
</form>

</div>


{#<form action="/cook/dutyList" method="post">#}
{#    {% csrf_token %}#}
{##}
{#    {{ form }}#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}
</body>
</html>