<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Authentication</title>
    <link rel="stylesheet" href={% static "employee/base_employee.css" %}>
</head>
<body>


<div class = "head_buttons" >

    <a href="http://127.0.0.1:8081/deliveryman/dutyList" >
         <button   class="link_for_task" style="vertical-align:middle"> <span>لیست وظایف  </span></button>
    </a>
    <a href="http://127.0.0.1:8081/deliveryman/authentication">
        <button id = "selected" class="link_for_task"style="vertical-align:middle"><span> پیگیری سفارش </span></button>
    </a>

</div>


{% load staticfiles %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}

<div class ='guide'>
    لطفا شماره پیگیری سفارش را وارد نمایید.
</div>

{% load material_form %}
<div class="my_form">
    <form action="/clerk/authentication" method="POST">
    {% csrf_token %}
    {% form form=form %}
{#        {% part form.my_field %}salam{% endpart %}#}
{#         {% part form.foods prefix %}<div class="input-group-addon">@</div>{% endpart %}#}
    {% endform %}
    <button type="submit" name="_submit" class="btn">پیگیری سفارش</button>
</form>
</div>



{% if order != 'first'  and order != 'null'%}
<div class="my_form" >
    <table>
        <tr>
            <td> شماره پیگیری سفارش </td>
            <td> {{ order.trackID }}</td>
        </tr>
        <tr>
            <td>  نام </td>
            <td> {{ order.user.name }}</td>
        </tr>
        <tr>
            <td> تلفن </td>
            <td> {{ order.user.phone }}</td>
        </tr>
        <tr>
            <td> آدرس </td>
            <td> {{ order.user.address }}</td>
        </tr>
        <tr>
            <td> تاریخ </td>
            <td> {{ order.date }}</td>
        </tr>
        <tr>
            <td> ساعت </td>
            <td> {{ order.time }}</td>
        </tr>
    </table>
</div>

<div class="my_form">
    لیست غذا ها :
<br>

    <table>
        <tr>
            {% for data in foods  %} {{ data.food_type.name}} ,{{ data.number }} {% endfor %}
        </tr>
    </table>
</div>

<div class="my_form">
    پارکینگ :
<br>

    <table>

            {% if parkings %}
                {% for p in parkings %}
                    <tr> پارکینگ شماره {{ p.id }}</tr>
                    <br>
                {% endfor %}
            {% else %}پارکینگی برای این سفارش رزرو نشده است.{% endif %}

    </table>
</div>

<div class="my_form">
    صندلی :
<br>

    <table>

        {% if chairs %}
            {% for c in chairs %}
            <tr>  صندلی شماره{{ c.id }} </tr>
                <br>
        {% endfor %}
        {% else %} صندلی ای برای این سفارش رزرو نشده است.{% endif %}

    </table>
</div>
{% elif order == 'null' %}
    <div class="guide">
     سفارشی با این شماره پیگیری ثبت نشده است.
    </div>

{% endif %}
</body>
</html>