<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Cook Duty List</title>
     <link rel="stylesheet" href={% static "employee/base_employee.css" %}>
</head>


<body>


<div class = "head_buttons" >

    <a href="http://127.0.0.1:8081/warehouseman/getReport">
         <button id = "selected" class="link_for_task"style="vertical-align:middle"><span>گزارش انبار</span></button>
    </a>
    <a href="http://127.0.0.1:8081/warehouseman/addMaterial">
        <button class="link_for_task"style="vertical-align:middle"><span> افزودن موجودی </span></button>
    </a>
</div>


<div class="my_form" id="rtol">
   انباردار محترم،
    خوش آمدید.
</div>

</body>
</html>