body {
    margin: 0;
    font-family: "X Yekan";
}

/* Disable ugly boxes around images in IE10 */
a img {
    border: 0px;
}

.android-header {
    overflow: visible;
    background-color: white;
}

.android-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}

.android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
}

.android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.android-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid crimson;
}

.android-header .material-icons {
    color: #767777 !important;
  }
.android-footer {
  position: relative;
}

.restaurant-main-picture{
    background-image: url("images/junk-light.jpeg");
    background-size: cover;
    height: 400px;
    width: 100%;
}

.restaurant-login-box{
    margin-right: 1%;
}

.restaurant-main-menu{
    /*background-color: antiquewhite;*/
    background-image: url("images/junk-light.jpeg");
    width: 100%;
    height: auto;
    text-align: center;
    background-size: cover;
}
.restaurant-main-menu-btn{
    background-color: gold;
    width: 15vw;
    height: 15vw;
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 15%;
}


.restaurant-main-menu-btn:hover{
    background-color: crimson;
}

.restaurant-menu-page{
    background-color: lemonchiffon;
    background-size: cover;
    text-align: center;
    direction: rtl;
}
.restaurant-food-card{
    direction: rtl;
    width: 20%;
    height: auto;
    margin : 3%;
    display: inline-block;
}

.restaurant-food-card-btn{
    font-family: "X Yekan";
}

.restaurant-food-detail{
    direction: rtl;
    padding: 3%;
    background-image: url('images/junk-light.jpeg');
}

.restaurant-food-detail-info{
    padding: 4%;
    background-color: rgba(245, 245, 245, 0.9);
    overflow: auto;
    margin-bottom: 2%;
}
.restaurant-food-detail-text{
    width:100%;
    text-align: justify;
    text-justify: inter-word;
}
.restaurant-food-detail-info img{
    float: right;
    border: solid 2px black;
    margin-left: 2%;
}

.restaurant-food-detail-comments{
 padding: 4%;
    background-color: rgba(245, 245, 245, 0.9);
    overflow: auto;}

.restaurant-food-detail-comments-single{
    background-color: #fafafa;
    padding: 2%;

}

.list li{
    margin: 1%;
}
.restaurant-footer{
    /*direction: rtl;*/
      position: relative;

}
