<html>
  <head>
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="demo">
      <!-- Standard Select -->
      <div class="mdl-selectfield">
        <label>Standard Select</label>
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>

        <form action="#">
            <select>
                <option>salam</option>
                <option>khubi</option>
                <option>khubam</option>
            </select>
        </form>
<img src="/Users/a/Pictures/whimsical_5">
  </body>
</html>
