{% extends 'restaurant/restaurant_base.html' %}
{% block content %}
    <link rel="stylesheet" href='branch.css'>

    <div class="restaurant-branches">

        {% for branch in branches %}
            <div class="restaurant-branch">
                <img class="restaurant-branch-img" src="images/location.png">
                <p class="restaurant-branch-info-title">
                    {{ branch.name }}
                </p>
                <p class="restaurant-branch-info">
                    آدرس:
                    {{ branch.address }}
                </p>
                <br>
                <p class="restaurant-branch-info">
                    شماره تماس:
                {{ branch.phone }}
                </p>
            </div>

        {% endfor %}
    </div>
{% endblock %}