{% extends 'restaurant/restaurant_base.html' %}

{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href={% static "restaurant/food.css" %}>
    <div class="restaurant-food-detail">
        <div class="restaurant-food-detail-info">
            <img src="{{ food.image.url }}">
            <div class="restaurant-food-detail-text">
                <h4 class="mdl-title" style="font-family: 'X Yekan'">{{ food.name }}</h4>
                <br>
                <p>
                    امتیاز: {{ food.rate}}
                </p>
                <p>
                    مواد اولیه:
{#                    TODO:fix this part#}
                    {{ material }}
                </p>
                <p>
                    دستور پخت:
                    {{ food.recipe }}
                </p>
            </div>
        </div>
        <div class="restaurant-food-detail-comments">
        <h4 style="font-family: 'X Yekan'">نظرات در مورد این غذا</h4>
        <hr style="margin-bottom: 2%">
            <ul class="list mdl-list">
                {% for comment,muser in comments %}
                <li>
                    <div class="restaurant-food-detail-comments-single">
                        {{ muser.user.username }}:{{ comment }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}