{% extends 'restaurant/restaurant_base.html' %}
{% load staticfiles %}
{% block content %}
        <div class="restaurant-main-menu">
            <!-- Colored FAB button with ripple -->
            <button id="menu-img"
                    class="restaurant-main-menu-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="location.href= 'menu.html' ">
                <img src={% static "restaurant/images/menu2.png" %} height="60%" width="60%">
            </button>
            <div class="mdl-tooltip mdl-tooltip--large" for="menu-img">منو</div>

            <button id="order-img"class="restaurant-main-menu-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="location.href='order.html'">
                <img src={% static "restaurant/images/order.png" %} height="60%" width="60%">
            </button>
            <div class="mdl-tooltip mdl-tooltip--large" for="order-img">سفارش برخط</div>


            <button id="branch-img"class="restaurant-main-menu-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="location.href='branch.html' ">
                <img src={% static "restaurant/images/location.png" %} height="60%" width="60%">
            </button>
            <div class="mdl-tooltip mdl-tooltip--large" for="branch-img">شعب</div>

            <button id= "search-img" class="restaurant-main-menu-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="location.href='search.html'">
                <img src={% static "restaurant/images/search.png" %} height="60%" width="60%">
            </button>
            <div class="mdl-tooltip mdl-tooltip--large" for="search-img">جست و جو</div>


        </div>
{% endblock %}

