{% extends 'restaurant/restaurant_base.html' %}
{% load staticfiles %}

{% block content %}

    <link rel="stylesheet" href={% static "restaurant/banch_menu.css" %}>
    {#    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>#}
    <script src="{% static 'restaurant/jquery-3.1.0.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            var snackbarContainer = document.querySelector('#demo-snackbar-example');
            var mymen = {};
            {% for f,o  in dic %}
                var offers = [];
                {% for li in o%}
                    offers.push('{{ li }}');
                {% endfor %}
                mymen['{{ f }}'] = offers;
                console.log($('{{ f }}' + '-div').text());
            {% endfor %}
            {#            console.log(mymen);#}

            $(".branch-food-card-btn").click(function () {

                var $inputs = $('form :input');
                var btn = this.id;
                var n;
                $inputs.each(function () {
                    if (this.name == btn) {
                        n = Number($(this).val());
                        n = n + 1;
                        $(this).val(n);
                    }
                });
                $(this).next().text(n.toString());
                console.log(mymen[btn]);

                var lili = $('#list').children();
                var has = false;
                lili.each(function () {
                    if ($(this).attr('id') === (btn + '-li')) {
                        has = true;
                        var c = $(this).children()[1];
                        c.innerHTML = n.toString();
                    }
                });

                if (!has) {
                    var s = '<li id = "' + btn + '-li" class="mdl-list__item"><span class="mdl-list__item-primary-content"> ' + btn + ' </span> <span class ="num">' + n.toString() + '</span></li>';
                    $('#list').prepend(s);
                }

            });
        });
    </script>
    <div class="branch-order-container" style="overflow:auto;">
        <div class="sidebar" style="position: fixed;
height: 132px;
left: 0;
top: 185px;
width: 24px;">
        </div>

        <div class="branch-order-page">
            <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
            <div class="branch-order-food-recom" style="text-align: center">
                <h4 style="font-family: 'X Yekan';text-align: right;">احتمالا مایل به خرید غذاهای زیر هستید:</h4>
                {% include "restaurant/food_card.html" with menu=recom %}
            </div>
            <hr>
            <div class="branch-menu-page">
                <h4 style="font-family: 'X Yekan';text-align: right;">منو رستوران:</h4>
                {% include "restaurant/food_card.html" with menu=menu %}
            </div>
            <hr>
            <div id="order">
                <h4 style="font-family: 'X Yekan'">سفارش شما:</h4>
                <ul id="list">

                </ul>
            </div>
            <hr>
            <h4 style="font-family: 'X Yekan'">اطلاعات تکمیلی سفارش:</h4>

            <form action="" method="post" style="width: 35vw">
                {% csrf_token %}
                {% for food in menu %}
                    <input type="hidden" name="{{ food.name }}">
                {% endfor %}
                {##}
                {#                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">#}
                {#                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" name="has_child">#}
                {#                    <span class="mdl-checkbox__label">به همراه داشتن کودک خردسال</span>#}
                {#                </label><br>#}
                {#                <br>#}
                {#                <span style="font-size: medium">شیوه تحویل سفارش:    </span>#}
                {#                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">#}
                {#                    <span class="mdl-radio__label">منزل</span>#}
                {#                    <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>#}
                {#                </label>#}
                {#                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">#}
                {#                    <span class="mdl-radio__label">حضوری</span>#}
                {#                    <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">#}
                {#                </label><br>#}

                <label for="date_picker">تاریخ دریافت سفارش</label>
                <input id="date_picker" type="date" name="date"><br>
                <label for="week_picker">تعداد هفته‌ها</label>
                <input id="week_picker" type="number" name="week"><br>
                <label for="day-picker">روزهای دریافت سفارش</label>
                {#                <select name="day" multiple>#}
                {#                    <option value="sat">شنبه</option>#}
                {#                    <option value="sun">یکشنبه</option>#}
                {#                    <option value="mon">دوشنبه</option>#}
                {#                    <option value="tue">سه‌شنبه</option>#}
                {#                    <option value="wed">چهارشنبه</option>#}
                {#                    <option value="thu">پنج‌شنبه</option>#}
                {#                    <option value="fri">جمعه</option>#}
                {#                </select><br>#}
                <br>
                <input id="sat" type="checkbox" name="ingredients[]" value="sat"/>
                <label for="sat">شنبه</label>
{#                <br/>#}
                <input id="sun" type="checkbox" name="ingredients[]" value="sun"/>
                <label for="sun">یک‌شنبه</label>
{#                <br/>#}
                <input id="mon" type="checkbox" name="ingredients[]" value="mon"/>
                <label for="mon">دوشنبه</label>
{#                <br/>#}
                <input id="tue" type="checkbox" name="ingredients[]" value="tue"/>
                <label for="tue">سه‌شنبه</label>
{#            <br>#}
                <input id="wed" type="checkbox" name="ingredients[]" value="wed"/>
                <label for="wed">چهارشنبه</label>
{#                <br>#}
                <input id="thu" type="checkbox" name="ingredients[]" value="thu"/>
                <label for="thu">پنج‌شنبه</label>
{#                <br>#}
                <input id="fri" type="checkbox" name="ingredients[]" value="fri"/>
                <label for="fri">جمعه</label>
                <br>
                <input id="submit_btn" type="submit"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="ثبت سفارش" style="float:left;">
            </form>

        </div>


    </div>
{% endblock %}