<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{#{% include 'material/includes/material_css.html' %}#}
{#{% include 'material/includes/material_js.html' %}#}
<form action="/form/" method="post">
    {% csrf_token %}

    {{ form }}
    <input type="submit" value="Submit" />
</form>
{#{% load material_form %}#}
{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    {% form form=form %}{% endform %}#}
{#    <button type="submit" name="_submit" class="btn">Submit</button>#}
{#</form>#}

<h1>
    {% for key,value in result %}
{{ key }} ,, {{ value.price }} <br>
    {% endfor %}
</h1>
</body>
</html>