.user-profile{
    background-image: url("images/newbg.jpg") ;
    background-repeat: repeat;
    background-size: contain;
    background-clip:padding-box;
    background-attachment: scroll;
    background-repeat: round;

    padding: 5%;
    overflow: auto;
}

.user-profile-pic{
    margin: auto;
    float: right;
}

.user-profile-pic img{
    width: 350px;
    height: 350px;
    border-radius: 175px;
    border : 2px solid white;
    margin: 3%;
}

.user-profile-info{
    background-color: white;
    border-radius: 25px;
    margin: 3%;

}