.order-details-page{
    background-color: lightyellow;
    direction: rtl;
    padding: 5%;
    overflow: auto;
}
h4{
    font-family: "X Yekan";
}
.order-details-table table{
    direction: rtl;
    text-align: center;
        margin: auto;

}
p{
    font-size: medium;
}
td{
    font-size: small;
}
form{
    background-color: white;
    width: 20vw;
    margin: auto;
    padding: 3%;
}
.btn{
    font-family: "X Yekan";
    /*margin: 3%;*/
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 35%;
}