<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href={% static "employee/base_employee.css" %}>
</head>
<body>
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{{ message }}
<div class="my_form">
    <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
{#    {% form form=form %}{% endform %}#}
    <button type="submit" name="_login" class="btn"> ورود</button>
    <br>
    <pre><a href="register">  هنوز ثبت نام نکرده ام  </a></pre>
</form>
</div>

</body>
</html>

<!--<form action="/cost/{{ project }}/" method="post" accept-charset="utf-8">
     {{form.as_p}}
     <p><input type="submit" value="Add"></p>
</form>
-->