{% extends 'restaurant/restaurant_base.html' %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'restaurant/../../restaurant/static/user/order_detail.css' %}">
    <div class="order-details-page">
        <h4>سفارش
            {% if order.periodic %}
                                        دوره‌ای
                                    {% else %}
                                        عادی
                                    {% endif %}
            {{ order.trackID }}
        </h4>
        <p>
            شعبه:
            {{ order.branch_id }}
        </p>
        <p>

            تاریخ:
            {{ order.date }}
        </p>
        <p>

            ساعت:
            {{ order.time }}
        </p>
        <div class="order-details-table">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th style="font-size: medium" class="mdl-data-table__cell--non-numeric">نام غذا</th>
                    <th style="font-size: medium">مبلغ واحد</th>
                    <th style="font-size: medium">تعداد</th>
                    <th style="font-size: medium">مبلغ کل</th>
                </thead>
                </tr>
                <tbody>
                {% for foods,number,total in order_food %}
                    <tr>
                        <td>{{ foods }}</td>
                        <td>{{ foods.price }}</td>
                        <td>{{ number }}</td>
                        <td>{{ total }}</td>
                    </tr>
                {% endfor %}
                <hr>
                <tr>
                        <td>مجموع</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{ p }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if  not order.is_permanent %}
            <h4>اطلاعات تکمیلی</h4>
            <div class="order-details-extra">
                <form style="text-align: right;direction: rtl" class="mdl-shadow--2dp" action="" method="post">
                    {% csrf_token %}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4"
                               name="discount">
                        <label class="mdl-textfield__label" for="sample4" style="direction: rtl;text-align: right">کد
                            تخفیف</label>
                        <span class="mdl-textfield__error">عدد وارد شده صحیح نیست!</span>
                    </div>
                    <br>
{#                    <input type="checkbox" name="sa" value="sal">#}
{#                    <label class="mycheck mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2"#}
{#                    >#}
{#                        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" name="has_child">#}
{#                        <span class="mdl-checkbox__label">به همراه داشتن کودک خردسال</span>#}
{#                    </label><br>#}
                    <span style="font-size: medium">به همراه داشتن کودک خردسال</span>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-11" style="float: left">
                        <span class="mdl-radio__label">بله</span>
                        <input type="radio" id="option-11" class="mdl-radio__button" name="has_child" value="1" checked>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-22" style="float: left">
                        <span class="mdl-radio__label">خیر</span>
                        <input type="radio" id="option-22" class="mdl-radio__button" name="has_child" value="0">
                    </label>
                    <div style="height: 2vw;"></div>
                    <span style="font-size: medium">شیوه تحویل سفارش:    </span>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1" style="float: left">
                        <span class="mdl-radio__label">منزل</span>
                        <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="0" checked>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2" style="float: left">
                        <span class="mdl-radio__label">حضوری</span>
                        <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="1">
                    </label><br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="chair"
                               name="chair">
                        <label class="mdl-textfield__label" for="chair" style="direction: rtl;text-align: right">تعداد
                            صندلی</label>
                        <span class="mdl-textfield__error">عدد وارد شده صحیح نیست!</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="parking"
                               name="parking">
                        <label class="mdl-textfield__label" for="parking" style="direction: rtl;text-align: right">تعداد
                            پارکینگ</label>
                        <span class="mdl-textfield__error">عدد وارد شده صحیح نیست!</span>
                    </div>
                    <button type="submit" class="btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        پرداخت
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}