<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}
<h3> {{ myuser.user.username }}</h3>
<form action="" method="post">
    {% csrf_token %}
    {{form_user.as_p}}
    {{form_myuser.as_p}}
{#    {% form form=form %}{% endform %}#}
    <button type="submit" name="_login" class="btn"> ذخیره تغییرات</button>
    <br>
</form>
</body>
</html>
