<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% include 'material/includes/material_css.html' %}
{% load staticfiles %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}
<form action="" method="post" style="width: 50%;margin: auto;margin-top:5%; margin-bottom: 5%" >

    {% csrf_token %}
      {% form form=userform %}{% endform %}
  {% form form=userprofileform %}{% endform %}
{#    {{userform}}#}
{#    {{userprofileform}}#}
{#    {% form form=form %}{% endform %}#}
    <button type="submit" name="_register" class="btn">Submit</button>
</form>
</body>
</html>